.hero {
  height: 100vh;
  width: 100%;

  background-size: cover;          /* poora page fill */
  background-position: center;     /* center focus */
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 30, 80, 0.75),
    rgba(0, 60, 130, 0.55)
  );
}

/* Text content */
.hero-content {
  position: relative;
  padding-top: 10rem;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-content p {
  margin: 15px 0;
  font-size: 1.2rem;
  opacity: 0.9;
}

.hero-content button {
  padding: 12px 28px;
  border: none;
  background: #ffcc00;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.hero-content button a {
  text-decoration: none;
  color: inherit;
}

.hero-content button:hover {
  background: #e0dcdc;
}
