/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  height: 80px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 30, 80, 0.75),
    rgba(0, 60, 130, 0.55));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.nav-logo {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.nav-logo a{
  text-decoration: none;
}
.nav-logo a img{
  width: 120px;
  padding: 10px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 2px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    background: linear-gradient(
    to bottom,
    rgba(0, 30, 80, 0.75),
    rgba(2, 43, 90, 0.55));
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
